.body {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid var(--grey);
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 4px);

  display: grid;
  grid-auto-flow: row;
  z-index: 100;
  max-height: 314px;
  height: auto;
}

.body::-webkit-scrollbar {
  width: 22px !important;
}

.body::-webkit-scrollbar-thumb {
  border: 10px solid var(--main-color) !important;
}