.contacts {
  position: relative;
  margin-inline: 120px;
  margin-block-end: 120px;
  padding: 72px 56px;
  text-align: center;
  background-image: url('../../../../src/assets/images/contacts-bg.svg');
  background-repeat: no-repeat;
  background-position: -300px -557px;
  background-size: 140%;
  background-color: var(--bg-light-blue-secondary);
  border-radius: 48px;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

.decor {
  position: absolute;
  margin-left: -50vw;  
  margin-right: -50vw;
  left: 50%;
  right: 50%;
  top: 0;
  height: 100%;

}

.decor::after {
  content: '';
  display: flex;
  position: absolute;
  width: 100%;
  height: 170%;
  top: -42%;
  background-image: 
    url('../../../../src/assets/decor/contacts-decor-circle.svg'),
    url('../../../../src/assets/decor/contacts-decor-star-top.svg'),
    url('../../../../src/assets/decor/contacts-decor-line.svg'),
    url('../../../../src/assets/decor/contacts-decor-star-bottom-left.svg'),
    url('../../../../src/assets/decor/contacts-decor-star-bottom.svg'),
    url('../../../../src/assets/decor/contacts-decor-star-bottom-right.svg');
  background-size: 178px, 82px, 264px, 94px, 144px, 134px;
  background-position: 3% 26%, 37.4% 20%, 101% 0%, 12% 88%, 57.5% 91%, 96% 77%;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin-inline: auto;
  inset-inline: 0;
}



.contacts_title {
  letter-spacing: var(--letter-spacing-extra-small);
  font: var(--h2-primary);
  color: var(--dark-blue);
  margin-block-end: 56px;
}


.contacts_title__decor {
  font-style: italic;
  color: var(--green);
  position: relative;
  margin-inline-end: 66px;
  white-space: nowrap;
}

.contacts_title__decor::after {
  content: '';
  position: absolute;
  top: 27%;
  right: -26%;
  width: 63px;
  height: 37.8px;
  display: block;
  background-image: url('../../../../src/assets/decor/contacts-title-decor.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts_icon {
  display: block;
  width: 42px;
  height: 42px;
  background-color: var(--green);
  padding: 10px;
  border-radius: 100%;
  margin-inline-start: 3.36px;
  margin-block-end: 3.36px;
  box-shadow: 3.36px 3.36px 0 0 #29BCAD99;
}

.contacts_list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.contacts_item {
  box-shadow: 8px 8px 0 0 var(--green);
  border-radius: 10px;
  border: 1px solid var(--gray);
  overflow: hidden;
  transition-duration: .3s;
  letter-spacing: -0.9px;
}

.contacts_item:hover {
  box-shadow: 8px 8px 0 0 #29BCAD99;
  border-color: var(--green);
}
.contacts_item:hover .contacts_link {
  background-color: var(--green);
  color: var(--white);
}
.contacts_item:hover .contacts_icon {
  box-shadow: 3.36px 3.36px 0 #16143933;
}
.contacts_item:hover .contacts_icon {
  background-color: #FFFFFF;
  transition-duration: .3s;
}
.contacts_item:hover svg {
  fill: var(--green);
  stroke: var(--green);
}

.contacts_icon {
  transition-duration: .3s;
  
}


.contacts_link {
  display: flex;
  align-items: center;
  column-gap: 12px;
  background-color: var(--white);
  padding: 13px 22px 9px 12px;
  font: var(--button-secondary);
  color: var(--dark-blue);
  white-space: nowrap;
  position: relative;
  z-index: 1;
  transition-duration: .3s;
}


@media (width < 1440px) {
  .contacts_list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
  }

  .contacts_list li:first-child {
    order: 1;
  }

  .contacts_list li:nth-child(2) {
    grid-column: 1 / -1;
  }

  .contacts_list li:last-child {
    order: 2;
  }

  .contacts_title {
    font-size: 72px;
  }
  .decor::after {
    height: 131%;
    top: -23%;
    background-size: 160px, 82px, 224px, 77px, 144px, 134px;
    background-position: -8% 13%, 40.4% 13%, 112% 0%, 3% 98%, 87.5% 104%, 103% 100%;
  }
  .contacts_title__decor::after {
    top: 25%;
    right: -25%;
    width: 64.12px;
    height: 43.72px;
  }
  .contacts_link { 
    column-gap: 7px;
    letter-spacing: -0.026em;
  }
  .contacts {
    margin-inline: auto;
    margin-block-end: 96px;

    background-position: -223px -486px;
    background-size: 163%;
  }

}
@media (width < 768px) {
  .contacts_list {
    flex-wrap: nowrap;
    grid-template-columns: auto;
    justify-items: center;
  }

  .contacts_list li:first-child {
    order: 1;
  }

  .contacts_list li:nth-child(2) {
    grid-column: auto;
    order: 2;
  }

  .contacts_list li:last-child {
    order: 3;
  }
  .contacts_title__decor::after {
    top: 20%;
    right: -32%;
    width: 39px;
    height: 26.6px;
  }
  .decor::after {
    height: 124%;
    top: -13%;
    background-size: 100px, 82px, 144px, 67px, 104px, 104px;
    background-position: -8% 4%, 46.4% 7%, 125% 0%, 8% 95%, 81.5% 97%, 104% 101%;
  }
  
  .contacts_title {
    font: var(--h2-primary);
  }

  .contacts {
    padding-inline: 16px;
    padding-block-start: 72px;
    background-position: -323px -166px;
    background-size: 260%;
    border-radius: 24px;
  }
  .contacts_title {
    margin-block-end: 24px;
  }
}