.wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 21px;
  padding-block: 72px 230px;
}

.hero_text_container {
  position: relative;
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 1 / 1;
}

.hero_heading {
  margin-block-end: 2rem;
  font: var(--h2-primary);
  letter-spacing: var(--letter-spacing-extra-small);
}

.hero_heading__decor {
  color: var(--green);
  font: var(--h2-primary-italic);
}

.hero_description {
  margin-block-end: 40px;
  font: var(--p-secondary-bold);

  /* max-width: 488px; */
}

.badges_list {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 1 / 1;
  flex-wrap: wrap;
  gap: 32px;
  margin-block-start: 38px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12.5px 24px 13.5px 16px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  box-shadow: 8px 8px 0 0 var(--green);
}

.badge_icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-radius: 100%;
}

.badge_icon__people {
  background-color: var(--green);
  background-image: url('../../../../src/assets/decor/badge-icon-people.svg');
  box-shadow: 3.36px 3.36px 0 0 #29BCAD80;
}

.badge_icon__school {
  background-color: var(--pink);
  background-image: url('../../../../src/assets/decor/badge-icon-school.svg');
  box-shadow: 3.36px 3.36px 0 0 #F1566380;
}


.badge__pink {
  box-shadow: 8px 8px 0 0 var(--pink);
}

.badge_caption {
  gap: 5px;
  color: #00313C99;
  font: var(--p-small);
  white-space: nowrap;
}

.badge_caption__decor {
  display: block;
  color: var(--dark-blue);
  font: var(--button-secondary);
  opacity: 1;
  margin-block: 2px;
}

.badges_list__caption {
  flex-shrink: 0;
  width: 100%;
  font: var(--p-secondary-bold);
  line-height: 20px;
}

.hero_img_container {
  position: relative;
  grid-row: 1 / 3;
  grid-column: 2 / 2;
  width: 100%;
  height: 100%;
}

.hero_img {
  position: absolute;
  top: -145px;
  left: -85px;
  z-index: -1;
  width: 135%;
  height: auto;
}

.br_360 {
  display: none;
}

@media (width < 1440px) {
  .br_1440 {
    display: none;
  }

  .hero_description {
    /* max-width: none; */
  }

  .wrapper {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    row-gap: 64px;
    padding-block: 82px;
  }

  .hero_img_container {
    position: static;
    grid-row: 2 / 3;
    grid-column: 1 / 1;  
    width: 90vw;
    height: auto;
  }

  .hero_img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.35) translate(2%, -3%);
  }

  .hero_text_container {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }

  .badges_list {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    margin-block-start: 0;
  }

}


@media (width < 768px) {
  .br_360 {
    display: block;
  }

  .wrapper {
    padding-block: 56px;
    row-gap: 40px;
  }

  .hero_heading {
    margin-block-end: 24px;
  }

  .hero_description {
    margin-block-end: 24px;
  }

  .badges_list {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero_img {
    transform: scale(1.37) translate(3%, -3%);
  }
}