.gallery {
  padding-block: 72px;
  position: relative;
  max-width: 1440px;
  margin-inline: auto;
  margin-block-start: -80px;
}

.title {
  margin-block-end: 40px;
  color: var(--dark-blue);
  font: var(--h2-primary);
  letter-spacing: -1px;
  text-align: center;
}

.title_italic {
  color: var(--green);
  font: var(--h2-primary-italic);
}

.title_decor {
  position: relative;
  color: var(--transparent-blue-primary);
}

.title_decor::after {
  position: absolute;
  bottom: -21%;
  left: 0;
  left: -4%;
  display: block;
  width: 113%;
  height: 30px;
  background-image: url('../../../../../src/assets/decor/past-lesson-title-decor.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  content: "";
}

.decor_top {
  position: absolute;
  top: 12%;
  left: 14%;
  z-index: 2;
  width: 9%;
  height: 23%;
  transform: translateX(-50%);
}

.decor_bottom {
  position: absolute;
  top: 69%;
  left: 9%;
  z-index: 2;
  width: 11%;
  height: 23%;
  transform: translateX(-50%);
}

.decor_top::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url('../../../../../src/assets/decor/past-lesson-decor-pencil.svg');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 120px 150px;
  content: '';
}

.decor_bottom::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: 
    url('../../../../../src/assets/decor/past-lesson-decor-molecule.png');
  background-repeat: no-repeat;
  background-position: 65% 52%;
  background-size: 234px 278px;
  content: '';
}

.br {
  display: none;
}

@media (width < 1440px) {
  .gallery {
    margin-block-start: -60px;
    padding-block: 80px 60px;
  }

  .decor_top {
    top: 20%;
    left: 10%;
    width: 20%;
    height: 24%;
  }

  .decor_top::after {
    background-position: 100% 50%;
    background-size: 110px 130px;
  }

  .decor_bottom {
    top: 69%;
    left: 15%;
    width: 21%;
    height: 26%;
  }

  .decor_bottom::after {
    top: -28px;
    background-position: 77% 58%;
    background-size: 204px 248px;
  }
}

@media (width < 768px) {
  .gallery {
    padding-block: 50px 60px;
  }

  .br {
    display: block;
  }

  .title {
    margin-block-end: 24px;
  }

  .decor_top {
    top: 16%;
    left: 10%;
    width: 36%;
    height: 20%;
  }

  .decor_top::after {
    background-size: 90px 70px;
  }

  .decor_bottom {
    top: 63%;
    left: 85%;
    width: 31%;
    height: 26%;
  }

  .decor_bottom::after {
    background-image: 
      url('../../../../../src/assets/decor/past-lesson-decor-molecule-mob.png');
    background-position: -20px 2%;
    background-size: 134px 136px;
    
  }
}