.cookies {
  /* display: flex; */
  position: fixed;
  bottom: 20px;
  z-index: 999;
  width: 100%;
  min-width: 360px;
  max-width: clamp(43rem, 6.4286rem + 76.1905vw, 75rem);
  padding: 24px;
  background-color: var(--bg-light-blue-secondary);
  border-radius: 24px;
  box-shadow: 0 0 25px 0 #051D2259;;
  margin-inline: auto;
}

.cookies_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font: var(--p-small);
}

.link {
  color: var(--cyan);
}

.link:hover {
  color: var(--green);
}

.button_accept {
  padding: 10px 24px;
  color: var(--white, #FFFFFF);
  font: var(--button-small);
  background-color: var(--cyan);
  border-radius: 12px;
  transition-duration: .3s;
}

.button_accept:hover {
  background-color: var(--green);
}

.br {
  display: none;
}

@media (width < 768px) {
  .cookies_wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  .cookies {
    bottom: 0;
    padding: 16px;
    text-align: center;
    border-radius: 24px 24px 0 0;    
  }

  .br {
    display: block;
  }

  .button_accept {
    width: 100%;
  }
}