.pride {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  max-width: 1392px;
  padding-inline-start: 96px;
  overflow: hidden;
  color: var(--dark-blue);
  background-color: var(--bg-light-blue-secondary);
  border-radius: 48px;
  margin-inline: 24px;
  margin-inline: auto;
}

.pride_title {
  margin-block-end: 2rem;
  font: var(--h2-primary);
  letter-spacing: var(--letter-spacing-extra-small);
}

.pride_title_decor {
  position: relative;
  font-style: italic;
}

.pride_title_decor::after {
  position: absolute;
  top: -35px;
  left: -10px;
  width: 117%;
  height: 176%;
  background-image: url('../../../../assets/decor/pride-title-decor.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: '';
}

.pride_description {
  font: var(--p-primary);
}

.pride_content {
  padding-block-start: 30px;
}
  
@media (width < 1400px) {
  .br_1440 {
    display: none;
  }

  .pride {
    grid-template-columns: auto;
    align-items: center;
    padding-inline: 0;
    margin-inline: 0;
  }  

  .pride_content {
    padding: 96px 40px 12px;
  }

  .pride_img {
    width: 100%;
    height: auto;
  }
}
  
@media (width < 768px) {
  .pride_title_decor::after {
    top: -19px;
    left: -3px;
  }

  .pride {
    border-radius: 24px;
  }  

  .pride_content {
    padding: 50px 16px 16px;
  }

  .pride_title {
    margin-block-end: 34px;
  }
}