.project {
  padding-block-start: 120px;
  overflow: hidden;
  background-color: var(--bg-light-blue-secondary);
  background-image: url('../../../../src/assets/decor/project-bg.svg');
  background-repeat: no-repeat;
  background-position: 89% -6.8%;
  background-size: 32%;
  border-radius: 48px;
}

.project_header {
  margin-block-end: 24px;
}

.project_caption {
  margin-block-end: 12px;
}

.project_title {
  color: var(--blue);
  font: var(--h1-primary);
  letter-spacing: -0.056em;
}

.project_title__decor {
  position: relative;
  color: var(--pink);
  font: var(--h1-primary-italic);
  letter-spacing: -0.02em;
  white-space: nowrap;
}

.project_title__decor::after {
  position: absolute;
  top: 15%;
  right: -49%;
  display: block;
  width: 105px;
  height: 63px;
  background-image: url('../../../../src/assets/decor/project-title-decor.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.project_section {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 70px;
}

.project_section:not(:last-child) {
  margin-block-end: 32px;
}

.project_section:first-of-type {
  grid-template-columns: repeat(2, 1fr);
  margin-block-end: 85px;
  column-gap: 20px;
}

.project_section__grid {
  grid-template-rows: repeat(3, auto);
}

.section_heading {
  margin-block-end: 1rem;
  font: var(--h2-primary);
  letter-spacing: -0.01em;
}

.project_section__grid .section_heading {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}

.section_img {
  background-color: var(--bg-light-blue-secondary);
}

.project_section__grid .section_img {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  width: 540px;
  height: 466px;
  object-fit: cover;
}

.section_text {
  color: var(--blue);
  font: var(--p-secondary);
  opacity: 0.78;
}

.project_section__grid .section_text {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.badge {
  display: flex;
  align-items: center;
  padding: 32px 40px;
  column-gap: 11rem;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font: var(--p-secondary-bold);
  background-color: var(--bg-light-blue-primary);
  border-radius: 24px;
  margin-block: auto 0;
}

.project_section:nth-of-type(2) .section_heading {
  margin-block-end: 0;
}



.section_content {
  display: flex;
  flex-direction: column;
}

.project_section:last-of-type .section_content {
  padding-block: 80px;
}



.section_button {
  align-self: flex-start;
  margin-block-start: 56px;
}

.section_text__decor {
  position: relative;
}

.section_text__decor::after {
  position: absolute;
  right: 1%;
  bottom: -70px;
  display: block;
  width: 110.49px;
  height: 118.63px;
  background-image: url('../../../../src/assets/decor/project-decor-section-text.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}



.section_heading__decor {
  color: var(--green);
  font-style: italic;
  line-height: 1.05;
}

.badge_termin {
  color: var(--green);
  white-space: nowrap;
}

.badge_termin__decor {
  font: var(--numbers-primary);
}

.section_img_wrapper {
  position: relative;
  width: 588px;
  height: 579px;
}

.section_img_wrapper .section_img {
  position: absolute;
  top: 1%;
}

.project_section:nth-of-type(2) .section_img {
  border-radius: 32px;
}

.through {
  position: relative;
}

.through::after {
  position: absolute;
  top: 7%;
  left: -2%;
  display: block;
  width: 104%;
  height: 100%;
  background-image: url('../../../../src/assets/decor/project-decor-through.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: '';
}

.br_768 {
  display: none;
}

.br_360 {
  display: none;
}


@media (width < 1440px) {
  .br_1440 {
    display: none;
  }

  .br_768 {
    display: block;
  }

  .project_title__decor::after {
    top: 23%;
    width: 79px;
    height: 47px;
  }

  .section_text__decor {
    position: static;
  }

  .section_text__decor::after {
    right: 0%;
    bottom: -52%;
    width: 129px;
    height: 125px;
    background-size: 100%;
  }

  .project {
    padding-block-start: 80px;
    background-position: 112% -1.70%;
  }

  .project_section {
    grid-template-columns: auto;
  }

  .project_section:not(:last-child) {
    margin-block-end: 52px;
  }

  .project_section:first-of-type {
    grid-template-columns: auto;
    row-gap: 24px;
    margin-block-end: 48px;
  }

  .project_section__grid .section_img {
    grid-row: 2 / 3;
    grid-column: 1 / 1;
  }

  .project_section:nth-of-type(2) .section_img {
    width: 100%;
    max-width: 688px;
    height: 662px;
    margin-inline: auto;
  }

  .project_section:last-of-type .section_content {
    padding-block: 0;
  }

  .section_button {
    justify-content: center;
    align-self: stretch;
    margin-block: 40px;
  }

  .project_section:last-of-type .section_img_wrapper {
    height: 561px;
  }

  .project_section__grid {
    grid-template-rows: auto;
    row-gap: 24px;
  }
  
  .project_section__grid .section_heading {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }

 
  
  .project_section__grid .section_text {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
  }

  .badge {
    grid-row: 4 / 5;
    grid-column: 1 / 1;
    margin-block-start: 16px;
    column-gap: 205px;
    padding-inline: 56px;
  }
}

@media (width < 768px) {
  .br_360 {
    display: block;
  }
  
  .project_title__decor::after {
    top: 23%;
    width: 39px;
    height: 28px;
  }

  .project {
    padding-block-start: 40px;
    background-position: 164% -1.7%;
    background-size: 74%;
    border-radius: 24px;
  }

  .section_text__decor::after {
    right: 4%;
    bottom: -36%;
    width: 71.55px;
    height: 87.9px;
    background-size: 100%;
  }

  .project_header {
    margin-block-end: 12px;
  }

  .project_section:first-of-type {
    row-gap: 16px;
  }

  .project_section:not(:last-child) {
    margin-block-end: 40px;
  }


  .project_section:nth-of-type(2) .section_img {
    max-width: 328px;
    height: 312px;
  }

  .project_section:nth-of-type(2) {
    margin-block-end: 26px;
  }


  .badge {
    flex-direction: column;
    row-gap: 6px;
    margin-block-start: 0;
    text-align: center;
    padding-inline: 54px;
  }

  .project_section:last-of-type .section_img_wrapper {
    width: 328px;
    height: 267.48px;
  }

  .project_section:last-of-type .section_img {
    width: 100%;
    height: auto;
  }
  
  .section_button {
    margin-block: 16px;
  }
}