.project {
  background-color: var(--bg-light-blue-secondary);
  border-radius: 48px;
  padding-block-start: 120px;
  overflow: hidden;
  background-image: url('/decor-project-bg.svg');
  background-repeat: no-repeat;
  background-position: 95% -5.8%;
  background-size: 39%;
}

.project_header {
  margin-block-end: 24px;
}

.project_caption {
  margin-block-end: 32px;
}

.project_title {
  font: var(--h1-primary);
  letter-spacing: -0.056em;
  color: var(--blue);
}

.project_title__decor {
  position: relative;
  font: var(--h1-primary-italic);
  letter-spacing: -0.02em;
  color: var(--pink);
  white-space: nowrap;
}

.project_title__decor::after {
  content: '';
  position: absolute;
  top: 27%;
  right: -34%;
  width: 106.86px;
  height: 72.78px;
  display: block;
  background-image: url('/project-title-decor.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.project_section {
  position: relative;
  display: grid;
  column-gap: 70px;
  grid-template-columns: auto 1fr;
}

.project_section:first-of-type {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.project_section__grid {
  grid-template-rows: repeat(3, auto);
}

.project_section__grid .section_heading {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}
.project_section__grid .section_img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  
}
.project_section__grid .section_text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.badge {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.section_img {
  background-color: var(--bg-light-blue-secondary);
}

.project_section:nth-of-type(2) .section_heading {
  margin-block-end: 0;
}

.project_section:nth-of-type(2) .section_img {
  border-radius: 32px;
}

.project_section:last-of-type .section_content {
  padding-block: 40px 80px;
}

.project_section:not(:last-child) {
  margin-block-end: 56px;
}

.section_content {
  display: flex;
  flex-direction: column;
}

.section_button {
  align-self: flex-start;
  margin-block-start: 64px;
}

.section_text {
  font: var(--p-secondary);
  color: var(--blue);
  opacity: 78%;
}

.section_text__decor {
  position: relative;
}

.section_text__decor::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 4%;
  width: 160.49px;
  height: 158.63px;
  display: block;
  background-image: url('/decor-section-text.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.section_heading {
  font: var(--h2-primary);
  letter-spacing: -0.01em;
  margin-block-end: 1rem;
}

.section_heading__decor {
  line-height: 1.05;
  color: var(--green);
  font-style: italic;
}


.badge {
  background-color: var(--bg-light-blue-primary);
  font: var(--p-secondary-bold);
  padding: 32px 40px;
  border-radius: 24px;
  column-gap: 4rem;
  align-items: center;
  display: flex;
  margin-block: auto 0;
}

.badge_termin {
  color: var(--green);
  white-space: nowrap;
}

.badge_termin__decor {
  font: var(--numbers-primary);
}

.section_img_wrapper {
  position: relative;
  width: 588px;
  height: 579px;
}

.section_img_wrapper .section_img {
  position: absolute;
  top: 1%;
}

.through {
  position: relative;
}

.through::after {
  content: '';
  display: block;
  position: absolute;
  top: 7%;
  left: -2%;
  width: 104%;
  height: 100%;
  background-image: url('/decor-through.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


@media (width < 1440px) {
  .project_title__decor::after {
    top: 23%;
    width: 79px;
    height: 47px;
  }

  .section_text__decor {
    position: static;
  }

  .section_text__decor::after {
    width: 129px;
    height: 125px;
    bottom: -15%;
    right: 0%;
    background-size: 100%;
  }

  .br {
    display: none;
  }

  .project {
    padding-block-start: 80px;
    background-position: 112% -1.70%;
  }

  .project_section {
    grid-template-columns: auto;
  }

  .project_section:first-of-type {
    row-gap: 24px;
    grid-template-columns: auto;
  }

  .project_section:nth-of-type(2) .section_img {
    max-width: 688px;
    width: 100%;
    height: 100%;
    margin-inline: auto;
  }

  .project_section:last-of-type .section_content {
    padding-block: 0;
  }

  .section_button {
    align-self: stretch;
    justify-content: center;
    margin-block: 40px;
  }

  .project_section:last-of-type .section_img_wrapper {
    height: 561px;
  }

  .project_section__grid {
    grid-template-rows: auto;
    row-gap: 24px;
  }
  
  .project_section__grid .section_heading {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }

  .project_section__grid .section_img {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }
  
  .project_section__grid .section_text {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }

  .badge {
    margin-block-start: 16px;
    grid-column: 1 / 1;
    grid-row: 4 / 5;
    column-gap: 132px;
    padding-inline: 56px;
  }
}

@media (width < 768px) {
  .project_title__decor::after {
    top: 23%;
    width: 39px;
    height: 28px;
  }

  .project {
    padding-block-start: 40px;
    border-radius: 24px;
    background-position: 164% -1.7%;
    background-size: 74%;
  }

  .section_text__decor::after {
    width: 86.55px;
    height: 87.9px;
    bottom: -6%;
    right: 0%;
    background-size: 100%;
  }

  .project_header {
    margin-block-end: 32px;
  }

  .project_section:first-of-type {
    row-gap: 16px;
  }

  .project_section:not(:last-child) {
    margin-block-end: 40px;
  }

  .project_section:nth-of-type(2) .section_img {
    max-width: 328px;
  }

  .badge {
    flex-direction: column;
    padding-inline: 24px;
    row-gap: 16px;
    text-align: center;
    margin-block-start: 0;
  }

  .project_section:last-of-type .section_img_wrapper {
    width: 328px;
    height: 267.48px;
  }

  .project_section:last-of-type .section_img {
    height: auto;
    width: 100%;
  }
  
  .section_button {
    margin-block: 16px;
  }
}