@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-block: 5rem;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: grid;
  width: 100%;
  color: var(--dark-blue, #00313C);
  font: var(--p-secondary, normal 500 24px/1.4, var(--roboto), Arial, Helvetica, sans-serif);
  background: var(--white, #FFFFFF);
}

html:has(.modal[open]),
body:has(.modal[open]) {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

input {
  color: inherit;
  font: inherit;
  border: none;
}

input[type="checkbox"] {
  accent-color: var(--cyan);
  width: 24px;
  height: 24px;
}

dialog {
  min-width: 328px;
  color: inherit;
  font: inherit;
  border: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

dialog::backdrop {
  position: fixed;
  inset: 0;
  width: 100vw;
  min-width: 360px;
  background: rgb(0 0 0 / 10%);
}


#project {
  scroll-margin-top: 3rem;
}

#lesson {
  scroll-margin-top: 3rem;
}

.container {
  padding-inline: 120px;
  max-width: 1440px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.section_caption {
  margin-block-end: 24px;
  color: var(--blue);
  font: var(--p-secondary);
  opacity: 0.5;
}

@media (width < 1440px) {
  .container {
    padding-inline: 40px;
  }

  .section_caption {
    margin-block-end: 32px;
  }
}

@media (width < 768px) {
  .container {
    padding-inline: 16px;
  }
}
