.video {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 2400px;
  height: 621px;
  padding-inline: 24px;
  margin-inline: auto;
}

.video_iframe {
  position: relative;
  z-index: 3;

  /* max-width: 1392px; */
  max-width: 1200px;
  border: none;
  border-radius: 48px;
  outline: none;
  margin-inline: auto;
}

.preloader {
  position: relative;
  width: 86%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 48px;
  margin-inline: auto;
}

.play {
  position: absolute;
  inset: 0;
}

.play_icon {
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
}


@media (width < 1440px) {
  .video {
    padding-inline: 40px;
    height: 690px;
  }

  .preloader {
    width: 100%;
    background-position: top left;
    background-size: cover;
  }
}

@media (width < 768px) {
  .video {
    padding-inline: 16px;
    height: 354px;
  }

  .play_icon {
    width: 61px;
    height: 61px;
  }

  .video_iframe {
    border-radius: 24px;
  }

  .preloader {
    border-radius: 24px;
  }
}