.option {
  display: flex;
  text-wrap: balance;
  /* margin-block-end: 16px; */
  width: calc(100% / 3 - 24px);
  padding-block: 8px;
  word-break: break-word;
}

.option:not(:nth-of-type(n+4)) {
  padding-block-start: 0;
}
.option:not(:nth-of-type(3n)) {
  border-right: 1px solid #00313C33;
}

.option_rows:not(:nth-of-type(n+4)),
.option_rows:not(:nth-of-type(3n)) {
  border-right: none;
}
.option_rows:not(:nth-of-type(n+4)) {
  padding-block-start: 0;
}

.option_rows {
  width: 100%;
}


@media (width < 1440px) {
  .option {
    width: calc(100% / 2 - 5px);
  }
  .option:not(:nth-of-type(n+4)) {
    padding-block-start: 8px;
  }
  .option:not(:nth-of-type(n+3)) {
    padding-block-start: 0;
  }
  .option:not(:nth-of-type(3n)) {
    border-right: none;
  }
  .option:not(:nth-of-type(2n)) {
    border-right: 1px solid #00313C33;
  }
  .option_rows:not(:nth-of-type(2n)) {
    border-right: none;
  }
  .option_rows:not(:nth-of-type(n+4)) {
    padding-block-start: 0;
  }
}

@media (width < 768px) {
  .option {
    width: 100%;
  }
  .option:not(:nth-of-type(2n)) {
    border-right: none;
  }
}