.lesson_video {
  margin-block-end: 136px;
}

.lesson_video div {
  background-image: url('../../../../src/assets/images/lesson-video-preloader.png');
  background-size: cover;
}

.lesson_title {
  margin-block-end: 14px;
  font: var(--h2-primary);
  text-align: center;
  
}

.lesson_title_decor {
  color: var(--green);
  font: var(--h2-primary-italic);
}

.lesson_description {
  display: block;
  max-width: 770px;
  margin-block-end: 64px;
  font: var(--p-secondary-bold);
  line-height: 19.8px;
  text-align: center;
  margin-inline: auto;
}

.br {
  display: none;
}

.video_decor {
  position: relative;
  display: block;
  max-width: 1440px;
  margin-inline: auto;
}

.video_decor_blue_line {
  position: absolute;
  top: -165px;
  left: -94px;
  z-index: 1;
  width: 228px;
  height: 480px;
  background-image: url('../../../../src/assets/decor/video-decor-blue-line-wild.svg');
  background-repeat: no-repeat;
  background-position: 0% 114%;
  background-size: 270px;
}

.video_decor_red_line {
  position: absolute;
  top: 230px;
  right: -455px;
  z-index: 1;
  width: 748px;
  height: 480px;
  background-image: url('../../../../src/assets/decor/video-decor-red-line-wild.svg');
  background-repeat: no-repeat;
  background-position: 0% 114%;
  background-size: 730px;
}

.video_decor_star {
  position: absolute;
  right: 37%;
  bottom: -70px;
  z-index: 1;
  width: 157px;
  height: 153px;
  background-image: url('../../../../src/assets/decor/lesson-video-decor-star.svg');
  background-repeat: no-repeat;
  background-position: 40% 44%;
  background-size: 120px;
}

.video_decor_quote_top {
  position: absolute;
  top: -84px;
  right: 31px;
  z-index: 1;
  width: 157px;
  height: 153px;
  background-image: url('../../../../src/assets/decor/lesson-video-decor-quote-top.svg');
  background-repeat: no-repeat;
  background-position: 40% 44%;
  background-size: 120px;
}

.video_decor_quote_bottom {
  position: absolute;
  bottom: -70px;
  left: 55px;
  z-index: 1;
  width: 157px;
  height: 153px;
  background-image: url('../../../../src/assets/decor/lesson-video-decor-quote-bottom.svg');
  background-repeat: no-repeat;
  background-position: 40% 44%;
  background-size: 120px;
}

@media (width < 1440px) {
  .br {
    display: block;
  }

  .pastLesson {
    max-width: 100vw;
  }

  .lesson_video div {
    background-image: url('../../../../src/assets/images/lesson-video-preloader-tab.png');
    background-position: left;
    background-size: cover;
  }

  .lesson_description {
    max-width: 578px;
    font-size: 18px;
  }

  .video_decor_blue_line {
    top: -166px;
    left: -99px;
    width: 228px;
    height: 480px;
    background-size: 270px;
  }

  .video_decor_red_line {
    top: 513px;
    right: -470px;
    width: 748px;
    height: 290px;
    background-size: 730px;
  }

  .video_decor_star {
    right: 277px;
    bottom: -100px;
    background-size: 84px;
  }

  .video_decor_quote_top {
    top: -89px;
    right: 51px;
    background-image: url('../../../../src/assets/decor/lesson-video-decor-quote-top-tablet.svg');
    background-size: 90px;
  }

  .video_decor_quote_bottom {
    bottom: -95px;
    left: 65px;
    background-size: 90px;
  }
}

@media (width < 768px) {
  .br {
    display: block;
  }

  .lesson_description {
    margin-block-end: 24px;
    font-size: 16px;
    padding-inline: 16px;
  }

  .lesson_video {
    margin-block-end: 80px;
  }

  .video_decor_blue_line {
    top: -56px;
    left: -30px;
    width: 88px;
    height: 160px;
    background-size: 90px;
  }

  .video_decor_red_line {
    top: 307px;
    right: -250px;
    width: 368px;
    height: 90px;
    background-position: 0% 74%;
    background-size: 240px;
  }

  .video_decor_star {
    right: 140px;
    bottom: -40px;
    width: 87px;
    height: 83px;
    background-size: 40px;
  }

  .video_decor_quote_top {
    top: -40px;
    right: 11px;
    width: 77px;
    height: 73px;
    background-image: url('../../../../src/assets/decor/lesson-video-decor-quote-top.svg');
    background-size: 46px;
  }

  .video_decor_quote_bottom {
    bottom: -41px;
    left: 16px;
    width: 77px;
    height: 73px;
    background-size: 46px;
  }
}
