.wrapper {
  position: fixed;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 24px;
  background-color: var(--cyan, #008C95);
  color: var(--white, #FFFFFF);
  border-radius: 0 0 24px 24px;
  align-items: center;
  z-index: 10;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(1,-0.01,.11,.83);
  inset-inline: 0;
}

.action_btn__header {
  position: relative;
  z-index: 10;
}


.nav {
  display: flex;
  width: 100%;
  font: var(--menu-primary);
  align-items: center;
}

.nav_list {
  list-style: none;
  align-items: center;
  display: flex;
  margin-inline: auto;
  column-gap: 68.67px;
}

.nav_link {
  white-space: nowrap;
  opacity: 60%;
}

.nav_link:hover {
  opacity: 100%;
}

.logo {
  display: flex;
  position: relative;
  width: 93px; 
  height: 18px;
  z-index: 10;
  transition-duration: .3s;
}

.burger_btn {
  position: relative;
  z-index: 10;
  display: none;
  inline-size: 48px;
  block-size: 48px;
  flex-direction: column;
}

.burger_line {
  transition-duration: .3s;
  position: absolute;
  top: 36%;
  right: 0;

  inline-size: 41px;
  block-size: 3px;
  background-color: var(--white, #FFFFFF);
  border-radius: 20px;
}

.bottom_line {
  top: 57%;
  inline-size: 29px;
}

.wrapper:has(.burger_btn__open) {
  padding-block: 40px;
}

.burger_btn__open .burger_line {
  inline-size: 41px;
  top: 47%;
}
.burger_btn__open .bottom_line {
  transform: rotate(45deg);
}
.burger_btn__open .top_line {
  transform: rotate(-45deg);
}

.nav_list .action_btn__header {
  display: none;
}

@media (width < 1440px) {

  .nav_list {
    align-items: flex-start;
  }
  .nav_link {
    opacity: 100%;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    gap: 40px;
  }
  
  .wrapper:has(.mob_menu_open) {
    border-radius: 0;
    transition-duration: 0.1s;
  }

  .wrapper:has(.mob_menu_open) .logo {
    width: 173px;
    height: 32px;
  }
  
  .nav_list {
    overflow-x: hidden;
    position: absolute;
    top: 99%;
    left: 0;
    justify-content: center;
    row-gap: 56px;
    flex-direction: column;
    background-color: var(--cyan, #008C95);
    width: 100%;
    height: 0;
    z-index: 9;
    padding-inline: 40px;
    transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
    z-index: 20;
    padding-block-end: 0;
  }

  .nav_list .nav_item:first-of-type {
    margin-block-start: auto;
  }
  .nav_list .action_btn__header {
    display: flex;
    margin-block-start: auto;
    align-self: self-start;
  }

  .mob_menu_open {
    height: 100dvh;
    padding-block-end: 21dvh;
  }
  
  .burger_btn {
    display: flex;
    margin-inline: auto;
  }
  .burger_btn__open {
    inline-size: 32px;
    block-size: 32px;
  }


  .burger_btn__open .burger_line {
    inline-size: 44px;
  }
  

}
@media (width < 768px) {
  .wrapper:has(.mob_menu_open) .logo {
    width: 130px;
    height: 24px;
  }
  .wrapper:has(.burger_btn__open) {
    padding-block: 33px;
  }
  .mob_menu_open {
    padding-block-end: 20dvh;
  }

  .wrapper {
    padding-block: 16px;
  }
  .action_btn__header {
    display: none;
  }
  .nav_list {
    padding-inline: 16px;
    row-gap: 30px;
  }
  .nav_list .action_btn__header {
    display: flex;
  }
  .burger_btn__open {
    display: flex;
    margin-inline: auto;
    inline-size: 28px;
    block-size: 28px;
  }
  .burger_btn__open .burger_line {
    inline-size: 37px;
  }
}