.preloader {
  background-image: url('/preloader/coming-soon-1440.png');
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (width < 1440px) {
  .preloader {
    background-image: url('/preloader/coming-soon-768.png');
  }
}
@media (width < 768px) {
  .preloader {
    background-image: url('/preloader/coming-soon-360.png');
  }
}