.action_btn {
  font: var(--button-small);
  white-space: nowrap;
  color: var(--white, #FFFFFF);
  padding: 13px 28px;
  background-color: var(--pink, #F15663);
  border-radius: 12px;
  align-items: center;
}

.with_arrow {
  display: flex;
  column-gap: 12px;
  padding-block: 20px;
  font: var(--button-primary);
}

@media (width < 768px) {
  .with_arrow {
    padding-inline: 22px;
  }
  .action_btn {
    justify-content: center;
    width: 100%;
  }
}