.video_decor {
  position: relative;
  max-width: 1440px;
  display: block;
  margin-inline: auto;
}


.video_decor_blue_line {
  background-image: url('../../../../src/assets/decor/video-decor-blue-line-wild.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: -150px;
  left: -94px;
  background-size: 270px;
  background-position: 0% 114%;
  width: 228px;
  height: 480px;
  z-index: 1;
}

.video_decor_red_line {
  background-image: url('../../../../src/assets/decor/video-decor-red-line-wild.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 230px;
  right: -455px;
  background-size: 730px;
  background-position: 0% 114%;
  width: 748px;
  height: 480px;
  z-index: 1;
}

.video_decor_star {
  background-image: url('../../../../src/assets/decor/video-decor-star.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: -78px;
  right: 20px;
  background-size: 120px;
  background-position: 40% 44%;
  width: 157px;
  height: 153px;
  z-index: 1;
}

@media (width < 1440px) {
  .video_decor_blue_line {
    top: -166px;
    left: -99px;
    background-size: 270px;
    background-position: 0% 114%;
    width: 228px;
    height: 480px;
  }
  .video_decor_red_line {
    top: 513px;
    right: -470px;
    background-size: 730px;
    background-position: 0% 114%;
    width: 748px;
    height: 290px;
  }
  .video_decor_star {
    top: -80px;
    right: 77px;
  }
}

@media (width < 768px) {
  .video_decor_blue_line {
    top: -56px;
    left: -41px;
    background-size: 120px;
    background-position: 0% 114%;
    width: 128px;
    height: 210px;
  }
  .video_decor_red_line {
    top: 277px;
    right: -205px;
    background-size: 350px;
    background-position: 0% 74%;
    width: 368px;
    height: 140px;
  }
  .video_decor_star {
    top: -18px;
    right: 10px;
    background-size: 80px;
    width: 87px;
    height: 83px;
  }
}