.about_main {
  padding-block: 112px;
  max-width: 1440px;
  margin-inline: auto;
}

.about_main_title {
  display: flex;
  align-items: flex-end;
  font: var(--h2-primary);
  column-gap: 10px;
}

.about_main_title::after {
  width: 212px;
  height: 105px;
  background-image: url('../../../../../src/assets/decor/about-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.advantages_list {
  display: flex;
  justify-content: space-around;
  padding-block-start: 72.6px;
  overflow: scroll visible;
  column-gap: 19.5px;
  list-style: none;
  padding-inline: 120px;
  scrollbar-width: none;
}

.advantages_list::-webkit-scrollbar {
  width: 0;
}

.advantages_item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  max-width: 387px;
  text-align: center;
}

.item_content {
  padding: 32px 31.5px 0;
}

.item_img {
  display: block;
  width: 100%;
  border-radius: 24px;
}

.item_title {
  margin-block-end: 1rem;
  font: var(--h5-primary);
}

.item_description {
  font: var(--p-medium);
}

.item_decor {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 146%;
  height: 110%;
  transform: translateX(-50%);
}

.item_decor::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 175px 225px;
  content: '';
}

.advantages_item:first-of-type .item_decor::after {
  background-image: 
    url('../../../../../src/assets/decor/advantages-decor-circle.svg'),
    url('../../../../../src/assets/decor/advantages-decor-star-bottom-left.svg');
  background-position: -3% 6%, -7% 58%;
  background-size: 162px 77px, 175px 225px;
}

.advantages_item:nth-of-type(2) .item_decor::after {
  background-image: 
    url('../../../../../src/assets/decor/advantages-decor-star-top.svg'),
    url('../../../../../src/assets/decor/advantages-decor-star-bottom.svg');
  background-position: 17% 0%, 87% 68%;
  background-size: 202px 147px, 115px 225px;
}

.advantages_item:last-of-type .item_decor::after {
  background-image: 
    url('../../../../../src/assets/decor/advantages-decor-pencil.svg'),
    url('../../../../../src/assets/decor/advantages-decor-star-bottom-right.svg');
  background-position: 65% 2%, 113% 56%;
  background-size: 172px 100px, 235px 235px;
}




@media (width < 1440px) {
  .about_main {
    max-width: 100vw;
    padding-block: 96px;
  }

  .advantages_list {
    padding-inline: 40px;
    justify-content: flex-start;
  }

  .slider_view {
    display: none;
  }
}

@media (width < 768px) {
  .slider_view {
    display: flex;
  }

  .item_img { 
    width: 328px;
    height: 305px;
    margin-inline: auto;
  }

  .item_content {
    padding: 40px 0 0;
  }

  .about_main_title::after {
    width: 106px;
    height: 46.18px;
  }
  
  .advantages_list {
    flex-direction: column;
    row-gap: 40px;
    padding-inline: 16px;
    padding-block-start: 40px;
    overflow-x: hidden;
  }

  .advantages_item {
    /* max-width: none; */
    margin-inline: auto;
  }

  .about_main {
    padding-block: 56px;
  }

  .about_main_title {
    display: flex;
    align-items: baseline;
    column-gap: 5px;
  }

  .about_main_title img {
    width: 106px;
    height: 49px;
  }

  .advantages_item:first-of-type .item_decor::after {
    background-image: 
      url('../../../../../src/assets/decor/advantages-decor-circle.svg'),
      url('../../../../../src/assets/decor/advantages-decor-star-bottom-left.svg');
    background-position: 18% 2%, 11% 62%;
    background-size: 100px 75px, 155px 155px;
  }
  
  .advantages_item:nth-of-type(2) .item_decor::after {
    background-image: 
      url('../../../../../src/assets/decor/advantages-decor-star-top.svg'),
      url('../../../../../src/assets/decor/advantages-decor-star-bottom.svg');
    background-position: 15% 1%, 82% 70%;
    background-size: 162px 121px, 95px 225px;
  }
  
  .advantages_item:last-of-type .item_decor::after {
    background-image: 
      url('../../../../../src/assets/decor/advantages-decor-pencil.svg'),
      url('../../../../../src/assets/decor/advantages-decor-star-bottom-right.svg');
    background-position: 66% 5%, 92% 65%;
    background-size: 122px 85px, 215px 205px;
  }
}