.label_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  opacity: 0.6;
}

.input {
  width: 100%;
  padding: 21.5px 20px;
  color: var(--dark-blue);
  background-color: var(--light-gray);
  border: 1px solid transparent;
  border-radius: 16px;
  transition-duration: .3s;
  appearance: none;
}

.input:hover {
  border: 1px solid var(--transparent-blue-primary);
}

.input:focus {
  background-color: #EDEFF1;
  border: 1px solid var(--transparent-blue-primary);
  outline: none;
}

.input:focus-visible {
  background-color: #EDEFF1;
  border: 1px solid var(--transparent-blue-primary);
  outline: none;
}

.input:active {
  background-color: #EDEFF1;
  border: 1px solid var(--transparent-blue-primary);
  outline: none;
}

.input::placeholder {
  color: var(--dark-blue);
}

.error {
  color: var(--pink);
  border-color: var(--pink);
  opacity: 1;
}

.error:active {
  color: var(--pink);
  border-color: var(--pink);
}

.error:focus {
  color: var(--pink);
  border-color: var(--pink);
}

.error:focus-visible {
  color: var(--pink);
  border-color: var(--pink);
}

.error::placeholder {
  color: var(--pink);
}

.message {
  top: 103%;
  left: 0;
  color: var(--pink);
  font: var(--p-medium-500);
}