.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  color: var(--white, #FFFFFF);
  background-color: var(--dark-blue, #00313C);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-block: 32px;
}

.footer_logo,
.footer_info {
  display: flex;
  flex-direction: column;
  font: var(--p-extra-small);
}

.footer_logo {
  row-gap: 12px;
  color: var(--green, #29BCAD);
  text-transform: uppercase;
}

.footer_info {
  row-gap: 2px;
  opacity: 0.5;
}

@media (width < 768px) {
  .footer {
    flex-direction: column;
    justify-items: center;
    row-gap: 24px;
  }

  .footer_logo {
    align-items: center;
  }

  .footer_info {
    text-align: center;
  }
  
  .info_copyrite {
    display: block;
    margin-block-end: 2px;
  }
}