.selectWrapper {
  position: relative;
  font: var(--p-medium-500);
  color: var(--dark-blue);
  cursor: pointer;
  z-index: 2;
}

.selectWrapper:hover .placeholder {
  border: 1px solid var(--transparent-blue-primary);
}
.selectWrapper:hover .arrow {
  background-color: var(--green);
  opacity: 100%;
}



.placeholder {
  padding: 21.5px 20px;
  width: 100%;
  border-radius: 16px;
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  cursor: pointer;
}

.placeholder:focus {
  outline: none;
  background-color: #EDEFF1;
  border: 1px solid var(--transparent-blue-primary);
}

.placeholder:focus-visible {
  outline: none;
  background-color: #EDEFF1;
  border: 1px solid var(--transparent-blue-primary);
}

.placeholder_error {
  border: 1px solid var(--pink);
  color: var(--pink);
}

.placeholder_error::placeholder {
  color: var(--pink);
}

.select {
  position: absolute;
  top: 101%;
  inset-inline: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #EDEFF1;
  z-index: 1;
  border-radius: 16px;
  padding: 16px 20px;
}

.select li:hover {
  color: var(--gray);
} 

.arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background-color: var(--dark-blue);
  opacity: 30%;
  width: 36px;
  height: 36px;
  background-image: url('/select-arrow.svg');
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 100%;
  z-index: 1;
  transform: rotate(0) 0.2s ease-in-out;
}

.arrow_open {
  transform: rotate(180deg);
  background-color: var(--green);
  opacity: 100%;
  top: 20%;
}

.selectWrapper:has(.placeholder_error) .arrow {
  background-color: var(--pink);
  opacity: 100%;
}

.cells {
  display: block;
  columns: 3 max-content;
  column-count: 3;
  column-rule: 1px solid #00313C33;
  column-gap: 24px;
  column-fill: balance;
  column-width: max-content;
  /* padding-inline-end: 80px; */
}

.cells .option {
  font: var(--menu-primary);
  
}

@media (width < 1440px) {
  .cells {
    column-count: 2;
  }
}
@media (width < 768px) {
  .cells {
    column-count: 1;
  }
}