.success {
  max-width: 448px;
  margin-inline-end: 78px;
}

.success_title {
  font: var(--h4-primary);
  margin-block-end: 12px;
  letter-spacing: -1.96px;
}
.success_title__decor {
  position: relative;
  font: var(--h4-primary-italic);
  color: var(--green);
}

.success_title__decor::after {
  background-image: url('../../../src/assets/decor/success-decor.svg');
  content: '';
  position: absolute;
  bottom: 32%;
  left: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 63.47px;
  height: 55.51px;
}

.success_description {
  font: var(--p-medium);
  opacity: 60%;
}


@media (width < 1440px) {
  .success {
    margin-inline-end: 230px;
  }
}

@media (width < 768px) {
  .success {
    margin-inline-end: 0;
  }
  .success_title__decor::after {
    width: 34.88px;
    height: 30.51px;
  }
}