.about_header {
  text-align: center;
  padding-block: 96px 120px;
}


.section_caption {
  margin-block-end: 24px;
  color: var(--dark-blue);
}

.about_header_text {
  font: var(--h3-primary);
  color: var(--dark-blue);
  letter-spacing: -0.05em;
}


.br_768 {
  display: none;
}


@media (width < 1440px) {
  .br_768 {
    display: block;
  }
  .about_header {
    padding-block: 96px 72px;
  }
  .about_header_text {
    width: 691px;
    margin-inline: auto;
  }
}
@media (width < 768px) {
  .about_header {
    padding-block: 40px 32px;
  }
  .about_header_text {
    width: auto;
  }
  .br_none {
    display: none;
  }
}