.menu_list {
  border-radius: 24px;
  border: 1px solid var(--light-blue);
}

.form_header {
  margin-inline-end: 198px;
}

.form_title {
  font: var(--h4-primary);
  margin-block-end: 12px;
}

.form_description {
  font: var(--p-medium);
  margin-block-end: 24px;
  opacity: 60%;
}

.form {
  display: grid;
  grid-row-gap: 24px;
  font: var(--p-medium-500);
  color: var(--dark-blue);
  grid-template-columns: repeat(2, auto);
}

.fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border: none;
  column-gap: 8px;
  grid-column: 1 / -1;
}

.fieldset__contacts {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.fieldset__agreements {
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  column-gap: 32px;
  grid-column: 1 / 2;
}


.fieldset_caption {
  justify-self: flex-start;
  grid-column: 1 / -1;
  width: max-content;
  margin-block-end: 12px;
  opacity: 60%;
}

.label_wrapper:has(ul) {
  z-index: 11;
}

.label_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.label {
  opacity: 60%;
}

.input {
  appearance: none;
  padding: 21.5px 20px;
  border-radius: 16px;
  background-color: var(--light-gray);
  color: var(--dark-blue);
  width: 100%;
  border: 1px solid transparent;
  transition-duration: .3s;
}

.input:hover {
  border: 1px solid var(--transparent-blue-primary);
}

.input:focus {
  outline: none;
  border: 1px solid var(--transparent-blue-primary);
  background-color: #EDEFF1;
}
.input:focus-visible {
  outline: none;
  border: 1px solid var(--transparent-blue-primary);
  background-color: #EDEFF1;
}
.input:active {
  outline: none;
  border: 1px solid var(--transparent-blue-primary);
  background-color: #EDEFF1;
}

.input option {
  font: var(--p-medium);
}

.input::placeholder {
  color: var(--dark-blue);
}

.error {
  border-color: var(--pink);
  color: var(--pink);
  opacity: 1;
}

.message {
  top: 103%;
  left: 0;
  color: var(--pink);
  font: var(--p-medium-500);
}

.submit_btn {
  grid-column: 2 / -1;
  border-radius: 12px;
  color: var(--white, #ffffff);
  background-color: var(--cyan);
  padding: 16px 30px;
  font: var(--button-secondary);
  width: max-content;
  justify-self: flex-end;
}

.submit_btn:hover {
  background-color: var(--green);
}

.checkbox_link {
  color: var(--cyan);
  text-decoration: underline;
}

.checkbox_link:hover {
  color: var(--green);
}


@media (width < 1440px) {
  .form_header {
    margin-inline-end: 48px;
  }
  
  .form_description {
    max-width: 370px;
  }

  .fieldset {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .fieldset__agreements {
    grid-template-columns: auto;
    justify-content: flex-start;
    row-gap: 24px;
    grid-column: 1 / -1;
    margin-block-end: 8px;
  }

  .submit_btn {
    width: 100%;
    grid-column: 1 / -1;
    padding-block: 16px;
  }
}


@media (width < 768px) {
  .form {
    column-gap: 32px;
  }
  .fieldset:has(legend) {
    row-gap: 8px;
  }
  .fieldset {
    row-gap: 32px;
  }
  .checkbox_link {
    grid-column: 2 / -1;
  }
}
