.projects {
  padding-block: 72px;
  position: relative;
  max-width: 1440px;
  margin-inline: auto;
}

.decor {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 32%;
}

.decor:after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-image: 
    url('/decor-projects-top-left.png'),
    url('/decor-projects-top-right.svg');
  background-size: 445px 455px, 265px 315px;
  background-position: -4% 50%, 96% 250%;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.projects_title {
  font: var(--h2-primary);
  color: var(--dark-blue);
  text-align: center;
  margin-block-end: 24px;
}

.projects_title_decor {
  font-style: italic;
  position: relative;
}

.projects_title_decor::after {
  content: "";
  position: absolute;
  left: 0;
  background-image: url('/decor-projects-title.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 113%;
  height: 30px;
  bottom: -21%;
  left: -4%;
}





.projects_description {
  font: var(--p-medium);
  color: var(--dark-blue);
  opacity: 60%;
  max-width: 482px;
  text-align: center;
  margin-inline: auto;
  margin-block-end: 72px;
}


.slider_wrapper {
  position: relative;
  margin-inline: 120px;
  margin-block-end: 72px; 
}

.slider_list {
  list-style: none;
}

.slider_list .slider_item {
  padding-block-start: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
}

.slider_control {
  position: absolute;
  width: max-content;
  z-index: 1;
}

.slider_control__left {
  left: -80px;
  top: 223px;
  transform: translateY(-50%);
}

.slider_control__right {
  right: -80px;
  top: 223px;
  transform: translateY(-50%);
}

.slider_control:hover circle {
  fill: var(--green);
}

.project_img {
  border-radius: 32px;
  box-shadow: -12px -12px 0 0 var(--bg-light-blue-secondary);
  margin-block-end: 24px;
  display: flex;
  margin-inline: auto;
}

.project_heading {
  font: var(--h5-primary);
  color: var(--dark-blue);
  margin-block-end: 1rem;
}

.project_description {
  font: var(--p-medium);
  color: var(--dark-blue);
  margin-block-end: 24px;
  opacity: 60%;
  max-width: 386px;
  margin-inline: auto;
}

.project_link {
  display: inline-block;
  font: var(--button-small);
  padding: 10px 24px;
  background-color: var(--cyan);
  border-radius: 12px;
  color: var(--white);
  margin-block: auto 0;
  align-self: center;
}

.project_link:hover {
  background-color: var(--green);
}




@media (width < 1440px) {
  .projects {
    padding-block: 40px;
  }
  .slider_wrapper {
    margin-inline: 52px;
  }

  .slider_control svg {
    width: 55px;
    height: 55px;
  }
  .slider_control__left {
    left: -35px;
    top: 273px;
  }
  .slider_control__right {
    right: -35px;
    top: 273px;
  }

  .decor:after {
    background-image: 
      url('/decor-projects-top-left-mob.png'),
      url('/decor-projects-top-right.svg');
    background-size: 295px 325px, 195px 280px;
    background-position: -19% 21%, 112% 250%;
    
  }
  .decor {
    width: 100%;
  }
}

@media (width < 768px) {
  .decor {
    height: 89%;
    top: 1%;
  }
  .decor:after {
    background-size: 97px 140px, 135px 170px;
    background-position: -1% -4%, 112% 99%;
  }
  
  .projects_title_decor::after {
    height: 17px;
  }
  .slider_wrapper {
    margin-inline: 16px;
  }

  .slider_control svg {
    width: 41px;
    height: 41px;
  }
  .slider_control__left {
    left: 0;
    top: 100px;
  }
  .slider_control__right {
    right: 0;
    top: 100px;
  }
  .project_img {
    width: 196px;
    height: 196px;
    margin-block-end: 40px;
  }
  .projects_description {
    padding-inline: 16px;
  }
}