.projects {
  padding-block: 72px;
  position: relative;
  max-width: 1440px;
  margin-inline: auto;
}

.decor {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  height: 32%;
}

.decor:after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-image: 
    url('/decor-projects-top-left.png'),
    url('/decor-projects-top-right.svg');
  background-size: 445px 455px, 265px 315px;
  background-position: -4% 50%, 96% 250%;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.projects_title {
  font: var(--h2-primary);
  color: var(--dark-blue);
  text-align: center;
  margin-block-end: 24px;
}

.projects_title_decor {
  font-style: italic;
  position: relative;
}

.projects_title_decor::after {
  content: "";
  position: absolute;
  left: 0;
  background-image: url('/decor-projects-title.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 113%;
  height: 30px;
  bottom: -21%;
  left: -4%;
}

.projects_description {
  font: var(--p-medium);
  color: var(--dark-blue);
  opacity: 60%;
  max-width: 482px;
  text-align: center;
  margin-inline: auto;
  margin-block-end: 72px;
}


@media (width < 1440px) {
  .projects {
    padding-block: 40px;
  }
  .decor:after {
    background-image: 
      url('/decor-projects-top-left-tab.png'),
      url('/decor-projects-top-right.svg');
    background-size: 203px 319px, 195px 280px;
    background-position: 0% 21%, 112% 250%;
  }
  .decor {
    width: 100%;
  }
}

@media (width < 768px) {
  .decor {
    height: 89%;
    top: 1%;
  }
  .decor:after {
    background-image: 
      url('/decor-projects-top-left-mob.png'),
      url('/decor-projects-top-right.svg');
    background-size: 97px 140px, 135px 170px;
    background-position: -1% -4%, 112% 99%;
  }
  
  .projects_title_decor::after {
    height: 17px;
  }
  .projects_description {
    padding-inline: 16px;
    margin-block-end: 40px;
  }
}