.projects {
  padding-block: 72px;
}

.carousel {
  position: relative;
  margin-inline: 120px;
  margin-block-end: 72px;
  
}

.projects_title {
  font: var(--h2-primary);
  color: var(--dark-blue);
  text-align: center;
  margin-block-end: 24px;
}

.projects_title span {
  font-style: italic;
}

.projects_description {
  font: var(--p-medium);
  color: var(--dark-blue);
  opacity: 60%;
  max-width: 482px;
  text-align: center;
  margin-inline: auto;
  margin-block-end: 72px;
}


.projects_list {
  list-style: none;
  display: flex;
  column-gap: 21px;
  overflow-x: hidden;
}

.projects_item {
  text-align: center;
  max-width: 386px;
  padding-inline: 1rem;
  flex-basis: calc(100% / 3);
  flex-shrink: 0;
}

.project_img {
  border-radius: 32px;
  box-shadow: -12px -12px 0 0 var(--bg-light-blue-secondary);
  margin-block-end: 24px;
  display: flex;
  margin-inline: auto;
}

.project_heading {
  font: var(--h5-primary);
  color: var(--dark-blue);
  margin-block-end: 1rem;
}

.project_description {
  font: var(--p-medium);
  color: var(--dark-blue);
  margin-block-end: 24px;
  opacity: 60%;
}

.project_link {
  display: inline-block;
  font: var(--button-small);
  padding: 10px 24px;
  background-color: var(--cyan);
  border-radius: 12px;
  color: var(--white);
}


.control {
  position: absolute;
}

.control_left {
  left: -80px;
  top: 223px;
  transform: translateY(-50%);
}

.control_right {
  right: -80px;
  top: 223px;
  transform: translateY(-50%);
}


@media (width < 1440px) {
  .projects {
    padding-block: 40px;
  }
  .carousel {
    margin-inline: 52px;
  }
  .projects_list {
    column-gap: 24px;
  }
  .projects_item {
    flex-basis: calc(100% / 2 - 24px);
  }
  .control img {
    width: 55px;
    height: 55px;
  }
  .control_left {
    left: -35px;
    top: 273px;
  }
  .control_right {
    right: -35px;
    top: 273px;
  }
}

@media (width < 768px) {
  .carousel {
    margin-inline: 16px;
  }
  .projects_item {
    flex-basis: 100%;
  }
  .control img {
    width: 41px;
    height: 41px;
  }
  .control_left {
    left: 0;
    top: 100px;
  }
  .control_right {
    right: 0;
    top: 100px;
  }
  .project_img {
    width: 196px;
    height: 196px;
    margin-block-end: 40px;
  }
}