.modal_overlay {
  position: fixed;
  inset: 0;
  z-index: 19;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.modal {
  position: fixed;
  inset: 0;
  padding: 32px;
  margin: auto;
  width: max-content;
  height: max-content;
  background-color: var(--white, #FFFFFF);
  z-index: 20;
  border-radius: 24px;
  max-width: 1200px;
  max-height: 88vh;
  scrollbar-width: none;
  overflow: scroll;
}

.close_btn {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.close_btn:hover svg {
  fill: var(--green);
}
.close_btn:hover path {
  opacity: 1;
}

@media (width < 1440px) {
  .modal_wrapper {
    scrollbar-width: none;
  }
  .modal {
    box-sizing: content-box;
    max-width: 82vw;
  }
}

@media (width < 768px) {
  .modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    z-index: 20;
  }
  .modal {
    position: sticky;
    max-height: max-content;
    padding: 24px;
    margin-inline: auto;
    margin-top: 20%;
    margin-bottom: 130px;
    max-width: 78vw;
  }
  .close_btn {
    top: 24px;
    right: 24px;
  }
}